h1 {
    color: maroon;
    text-align: center;
}
li {
    list-style-type: none;
}

#topnav {
    background-color: maroon;
    overflow: hidden;
}
/* come back and hard code only if bootstrap wont work */
#topnav a {
    float: left;
    color: #020000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

#botnav {
    background-color: gray;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#botnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}
#greating {
    text-align: center;
}
#bioMain {
    text-align: center;
}